<div class="content" *ngIf="authService.isAdmin==true">
    
    <div class="example-boundary">
        <div class="example-box" cdkDragBoundary=".example-boundary" cdkDragLockAxis="x" cdkDrag>
            <h2 class="boxOne">Nombre d'événements</h2>
            <span id="nbEvent"></span>
        </div>
        <div class="example-box" cdkDragBoundary=".example-boundary" cdkDragLockAxis="x" cdkDrag>
            <h2 class="boxTwo">Nombre moyen de participant <br> sur tous les événements</h2>
            <span id="moyenne"></span>
        </div>
    </div>

</div>