table {
  width: 100%;

}

table ng-container th {
  background-color: #2364be;
  color: white;
}

.buttonMg {
  margin-right: 5px
}

.content {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 25px;
}