<div class="content">
    <h1 style="text-align: center;">Détails de l'événement</h1>
    <h2 style="display: inline; color: #1777ff;">Nom de l'événement : </h2> 
    <p style="display: inline; font-size: 16px;">{{data.nom}}</p>
    <br><br>
    <h2 style="display: inline; color: #1777ff;">Acronyme de l'événement : </h2>
    <p style="display: inline; font-size: 16px;">{{data.acronyme}}</p>
    <br><br>
    <h2 style="display: inline; color: #1777ff;">Lieu de l'événement : </h2>
    <p style="display: inline; font-size: 16px;">{{data.lieu}}</p>
    <br><br>
    <h2 style="color: #1777ff;">Description de l'événement : </h2>
    <p style="display: inline; margin-left: 20px; font-size: 16px;">{{data.description}}</p>
    <br><br>
    <h2 style="display: inline; color: #1777ff;">Date d'ouverture de l'événement : </h2>
    <p style="display: inline; font-size: 16px;">{{data.dateOuverture}}</p>
    <br><br>
    <h2 style="display: inline; color: #1777ff;">Date de clôture de l'événement : </h2>
    <p style="display: inline; font-size: 16px;">{{data.dateCloture}}</p>
    <br><br>
    <h2 style="display: inline; color: #1777ff;">Nombre maximum de participant de l'événement : </h2>
    <p style="display: inline; font-size: 16px;">{{data.nbMaxParticipant}}</p>
</div>

